<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javayh.dao.RoleDao">

    <resultMap id="baseResultMap" type="com.javayh.entity.SysRole">
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="roleName" column="role_name" jdbcType="VARCHAR" />
        <result property="valid" column="valid" jdbcType="VARCHAR" />
        <collection property="sysPermissions" fetchType="eager" column="id" select="com.javayh.dao.PermissionDao.findByRoleId"></collection>
    </resultMap>
    <select id="findByUserId" parameterType="java.lang.Integer" resultMap="baseResultMap">
       SELECT
            ro.*
        FROM
            sys_user_role ur,
            sys_role ro
        WHERE ur.role_id=ro.id
        AND ro.id=#{userId}
    </select>


</mapper>